:root {
  --color-1: rgb(200, 255, 128);
  --color-2: rgb(245, 230, 255);

  --aura-size: 200%;
  --aura-speed: 10s;

  --aura-1: var(--color-1);
  --aura-2: var(--color-2);

  --color-true: #64dd6c;
  --color-false: #dd648a;

  --color-a: #dda964;
  --color-b: #c7dd64;
  --color-c: #64cfdd;
  --color-d: #d564dd;
}

.background {
  background-color: rgb(245, 230, 255);
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: 0 0 5px #00550e;
  animation: aura var(--aura-speed) linear infinite;
  background-size: var(--aura-size) var(--aura-size);
  background-image: radial-gradient(transparent 0, transparent 20%),
    radial-gradient(at 62% 9%, var(--aura-1) 0px, transparent 50%),
    radial-gradient(at 69% 60%, var(--aura-2) 0px, transparent 50%),
    radial-gradient(at 78% 92%, var(--aura-1) 0px, transparent 50%);
}

@keyframes aura {
  0% {
    background-position: center, 50% 50%, 30% 100%, 100% 10%, 23% 23%, 0% 80%;
  }
  33.333% {
    background-position: center, 10% 75%, 40% 80%, 60% 20%, 43% 23%, 16% 30%;
  }
  66.666% {
    background-position: center, 25% 35%, 80% 50%, 10% 10%, 66% 5%, 30% 0%;
  }
  100% {
    background-position: center, 50% 50%, 30% 100%, 100% 10%, 23% 23%, 0% 80%;
  }
}

@media screen and (orientation: landscape) {
  .menu {
    height: 80%;
  }

  .mainMenu {
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    width: 15%;
    width: 300px;
    background-color: rgba(120, 30, 200, 0.25);
  }

  .rooms {
    display: inline-block;
    height: 75%;
    width: 50%;
    position: absolute;
    color: white;
    padding: 8px;
    font-family: sans-serif;
    font-size: 14px;
    user-select: none;
    background: rgba(120, 30, 200, 0.25);
  }

  .container { 
    display: grid;
    height: 100%;
    grid-template-columns:  1fr 3fr 1fr;  
    grid-template-rows: 1fr 3fr 1fr;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
  }

  .playersPlace {
    overflow: auto;
    padding:8px;
    text-align: center;
    user-select: none;
    height: 500px;
    min-width: 200px;
    background-color: rgba(120, 30, 200, 0.25);
  }

  .playersPlace2 {
    overflow: auto;
    padding:8px;
    text-align: center;
    user-select: none;
    height: 500px;
    min-width: 200px;
    background-color: rgba(120, 30, 200, 0.25);
  }
}

@media screen and (orientation: portrait) {
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .mainMenu {
    width: 50%;
    min-width: 300px;
    justify-self: center;
    background-color: rgba(120, 30, 200, 0.25);
  }

  .rooms {
    min-height: 300px;
    width: 100%;
    color: white;
    padding: 8px;
    font-family: sans-serif;
    font-size: 14px;
    user-select: none;
    background: rgba(120, 30, 200, 0.25);
  }

  .container { 
    display: flex;
    height: 100%;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
  }

  .playersPlace {
    display: flex;
    flex-direction: row;
    min-width: 150px;
    max-height: 150px;
    justify-self: center;
    text-align: center;
    background-color: rgba(120, 30, 200, 0.25);
  }

  #playerLabels {
    display: flex;
    flex-direction: row;
  }

  .playersPlace2 {
    display: none;
  }
}

.container > div {
  margin: 10px; 
}

.dropInput {
  border: 1px solid #1d86dbff; 
  border-radius: 4px; 
  cursor: pointer; 
  max-width: 100%;
}

.judgePlace {
  min-width: 150px;
  max-height: 150px;
  justify-self: center;
  text-align: center;
  background-color: rgba(120, 30, 200, 0.25);
}

.gamefield {
  min-height: 500px;
  padding: 1%;
  background-color: rgba(120, 30, 200, 0.25);
}

.activeField {
  min-height: 100px;
      text-align: center;
      user-select: none;
      background-color: rgba(120, 30, 200, 0.25);
      display: flex;
      justify-content: center;
      align-items: center;
}

.questionsButtons {
  display: grid;
  height: 90%;
  row-gap: 2%;
}

.questionField {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: pre-line;
}

.profilePicture {
  max-width: 90%;
  max-height: 120px;
  margin-top: 10px;
}

.gamePicture {
  max-width: 95%;
  max-height: 95%;
}

.question {
  background-color: transparent;
  color: #9b59b6;
  border: 2px solid #9b59b6;
  position: relative;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.question:after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #9b59b6;
  transition: width 0.3s ease;
  z-index: -1;
}

.question:hover::after {
  width: 100%;
}

.question:hover {
  color: white;
}

.confirmButton {
  width: 200px;
  height: 50px;
  color: #716eef;
  border-color: #716eef;
}

.confirmButton.true:hover {
  color: var(--color-true);
  box-shadow: inset 0 0 0.55em 0em var(--color-true);
  border-color: var(--color-true);
}

.confirmButton.false:hover {
  color: var(--color-false);
  box-shadow: inset 0 0 0.55em 0em var(--color-false);
  border-color: var(--color-false);
}

.confirmButton.a:hover {
  color: var(--color-a);
  box-shadow: inset 0 0 0.55em 0em var(--color-a);
  border-color: var(--color-a);
}

.confirmButton.b:hover {
  color: var(--color-b);
  box-shadow: inset 0 0 0.55em 0em var(--color-b);
  border-color: var(--color-b);
}

.confirmButton.c:hover {
  color: var(--color-c);
  box-shadow: inset 0 0 0.55em 0em var(--color-c);
  border-color: var(--color-c);
}

.confirmButton.d:hover {
  color: var(--color-d);
  box-shadow: inset 0 0 0.55em 0em var(--color-d);
  border-color: var(--color-d);
}

.form {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  outline:none;
  background: linear-gradient(to left top, #ebd3fe, #ca8dfd) fixed;
  border-radius: 10px;
  border: 2px solid #706eef36;
  color: #ffffff;
  transition: all 0.5s;
}

.form:hover {
  border: 2px solid #716eef;
}
.form:focus {
  border: 2px solid #716eef;
  background: linear-gradient(to left top, #ebd3fe, #b154fe) fixed;
}

input[type="file"]::file-selector-button {
  width: 200px;
  height: 50px;
  color: #716eef;
  border-color: #716eef;
}

input[type="file"]::file-selector-button:hover {
  color: var(--color-a);
  box-shadow: inset 0 0 0.55em 0em var(--color-a);
  border-color: var(--color-a);
}